<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/meme-police-bot.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/meme-police-bot-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>8</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!--<logger name="org.hibernate.type" level="TRACE" />-->
    <!--    <logger name="org.hibernate.SQL" level="DEBUG" />-->
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
    <root level="info">
        <appender-ref ref="sout"/>
    </root>
</configuration>